body{
    padding: 10px;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    position: relative;
}

p{
    font-weight: 700;
}


.container{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}


#responsive-img{
    max-width: 80%;
    height: auto;
    border-radius: 4px;
}

#progress{
    position: relative;
    left: -50%;
    transform: translateX(-50%);
}

#time_bar{
    position: relative;
    left: 45%;
    transform: translateX(-45%);
}

progress {
    background: transparent;
    }
progress::-webkit-progress-bar {
    background: transparent;
    }
progress::-webkit-progress-value {
    background-color: #4834d4;

    } 
progress::-moz-progress-bar {
    background-color: #4834d4;

}

button{
    background-color: #4834d4;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 1vh;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 10vw;
}

button:hover{
    background-color: #6a5bce; 
}

#quiz > button{
    width: 50vw;
    text-align: left;
    padding-left: 4vw;
}

#time_label{
    position: relative;
    left: 25%;
}

#quiz{
    display: none;
}

table{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
th, td {
    padding: 10px;
    width: 100px;
}

@media(min-width: 400px){
    #time_label{
        position: relative;
        left: 30%;
    }
}

@media(min-width: 500px){
    #time_label{
        position: relative;
        left: 35%;
    }
}

@media(min-width: 700px){
    #time_label{
        position: relative;
        left: 40%;
    }

    #quiz > button{
        left: 50%;
        width: 25vw;
        text-align: left;
        padding-left: 1vw;
        transform: translateX(-50%);
    }
}

@media(min-width: 1200px){
    #time_label{
        position: relative;
        left: 45%;
    }

    #time_bar{
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(min-width: 1600px){
    #time_label{
        position: relative;
        left: 47%;
    }

}



